---
title: "MeatyBytes"
weight: 1
description: "OCP, one bite at a time"
---

{{< blocks/cover title="Getting to the Meat of OpenShift" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Explore OCP <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Daily Digest <i class="fas fa-arrow-alt-circle-up ml-2"></i>
	</a>
	<p class="lead mt-5">Sate your appetite for OpenShift, one bite at a time.</p>
	{{< blocks/link-down color="primary" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/section type="section" color="primary" type="row" %}}

{{% blocks/feature icon="fa-lightbulb" title="Read the Distracted Hobbyist!" url="https://distractedhobbyists.com/" %}}
As as serial hobbyist, my interests are wide-ranging.

Come discover your next favorite hobby!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-brands fa-github" title="Even Meatier Code" url="https://github.com/miethe" %}}
Check out my GitHub for the source code to these blogs, as well as many other projects!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-brands fa-linkedin" title="Connect on LinkedIn" url="https://www.linkedin.com/in/miethe/" %}}
If any of this interests you, we should connect!
{{% /blocks/feature %}}

{{% /blocks/section %}}
